.sidebar {
    width: $sidebar-width;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 0;
    margin-right: -$sidebar-width;
    background-color: $c-sidebar-color;

	&__logo {
        width: 80px;
        height: 80px;
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 10;
        background: url(../images/lightning.svg) 50% 50% no-repeat;
        background-size: 40px 40px;
        background-color: $c-sidebar-color-dark;
        border-bottom: 1px solid $c-sidebar-color-light;
    }

    &__container {
        position: relative;
        padding-top: 60px;
        height: calc(100% - 60px);
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}