@mixin makeGrid($layout-width: 960, $grid-columns: 12, $grid-class: 'grid_', $prefix-class: 'prefix_', $suffix-class: 'suffix_', $gutter: 10){
    $column-width : $layout-width / $grid-columns;
    $gutter-width : ($gutter / $layout-width * 100);

    @for $i from 1 through $grid-columns {
        
        $grid-width : (($column-width * $i) / $layout-width) * 100;

        .#{$grid-class}#{$i} {
            float: left;
            margin-left: #{$gutter-width};
            margin-right: #{$gutter-width};
            vertical-align: top;
            display: inline-block;
        }

        /* `Grid >> 12 Columns
        ----------------------------------------------------------------------------------------------------*/

        .#{$grid-class}#{$i} {
            width: #{$grid-width};
        }

        /* `Prefix Extra Space >> 12 Columns
        ----------------------------------------------------------------------------------------------------*/
        
        .#{$prefix-class}#{$i} {
            padding-left: #{$grid-width};
        }

        /* `Suffix Extra Space >> 12 Columns
        ----------------------------------------------------------------------------------------------------*/

        .#{$suffix-class}#{$i} {
            padding-right: #{$grid-width};
        }
    }
}