@mixin theme($name, $color) {
    // Define colors in your theme
    $primary: $color;
    $secondary: lighten(adjust-hue($color, 20), 10%);
    
    // Add your classes with css colors added
    .#{$name} {
        .element {
            color: $primary;
        }
        .other-element {
            background: $secondary;
        }
    }
}

// @include theme(theme-banana, yellow);