<header class="layout-header">
	<div class="layout-header__wrapper">
		
		<nav class="nav" role="navigation">
		    <span class="nav__item"><a href="/markup/index.html" class="nav__item__link@@if (current == 'site'){ nav__item__link_current}">Сайт</a></span>
		    <span class="nav__item"><a href="/markup/marketing.html" class="nav__item__link@@if (current == 'marketing'){ nav__item__link_current}">Маркетинг</a></span>
		    <span class="nav__item"><a href="/markup/seo.html" class="nav__item__link@@if (current == 'seo'){ nav__item__link_current}">Поисковая оптимизация</a></span>
		    <span class="nav__item"><a href="/markup/users.html" class="nav__item__link@@if (current == 'users'){ nav__item__link_current}">Пользователи</a></span>
		    <span class="nav__item"><a href="/markup/shop.html" class="nav__item__link@@if (current == 'shop'){ nav__item__link_current}">Магазин</a></span>
		    <span class="nav__item"><a href="/markup/system.html" class="nav__item__link@@if (current == 'system'){ nav__item__link_current}">Система</a></span>
		</nav>

	</div>
</header>