<aside class="sidebar">

    <a href="/markup/site.html" class="sidebar__logo"></a>

    <div class="sidebar__container j-sidebar-content">
        
        <nav class="menu" role="navigation">
        @@if (page == 'site') {

            <div class="menu__item menu__item-ru-page menu__item-selected" data-entity="page">
                <a class="menu__item__link" href="#/page/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Страницы
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-widget menu__item-selected" data-entity="widget">
                <a class="menu__item__link" href="#/widget/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Меню
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-widget menu__item-selected" data-entity="widget">
                <a class="menu__item__link" href="#/widget/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Виджеты
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-storage menu__item-selected" data-entity="storage">
                <a class="menu__item__link" href="#/storage/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Хранилище
                </div>
                </a>
            </div>
            
            <div class="menu__item menu__item-ru-settings menu__item-selected" data-entity="settings">
                <a class="menu__item__link" href="#/settings/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Настройки
                </div>
                </a>
            </div>
        }

        @@if (page == 'system') {
            <div class="menu__item menu__item-ru-settings menu__item-selected" data-entity="settings">
                <a class="menu__item__link" href="#/settings/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Настройки
                </div>
                </a>
            </div>
            
            <div class="menu__item menu__item-ru-settings menu__item-selected" data-entity="extensions">
                <a class="menu__item__link" href="#/extensions/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Расширения
                </div>
                </a>
            </div>
            
            <div class="menu__item menu__item-ru-settings menu__item-selected" data-entity="themes">
                <a class="menu__item__link" href="#/themes/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Темы
                </div>
                </a>
            </div>
            
            <div class="menu__item menu__item-ru-settings menu__item-selected" data-entity="update">
                <a class="menu__item__link" href="#/update/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Обновления
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-settings menu__item-selected" data-entity="info">
                <a class="menu__item__link" href="#/info/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Информация
                </div>
                </a>
            </div>
        }

        @@if (page == 'seo') {
            
            <div class="menu__item menu__item-ru-analytics menu__item-selected" data-entity="analytics">
                <a class="menu__item__link" href="#/analytics/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Статистика
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-meta menu__item-selected" data-entity="meta">
                <a class="menu__item__link" href="#/meta/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    МЕТА данные
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-hfu menu__item-selected" data-entity="human-friendly-url">
                <a class="menu__item__link" href="#/human-friendly-url/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    ЧПУ
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-social-sharing menu__item-selected" data-entity="social-sharing">
                <a class="menu__item__link" href="#/social-sharing/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Социальные сети
                </div>
                </a>
            </div>
            
            <div class="menu__item menu__item-ru-sitemap menu__item-selected" data-entity="sitemap">
                <a class="menu__item__link" href="#/sitemap/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    XML Sitemap
                </div>
                </a>
            </div>
            
            <div class="menu__item menu__item-ru-robots menu__item-selected" data-entity="robots">
                <a class="menu__item__link" href="#/robots/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    robots.txt
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-counters menu__item-selected" data-entity="counters">
                <a class="menu__item__link" href="#/counters/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Счетчики
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-settings menu__item-selected" data-entity="settings">
                <a class="menu__item__link" href="#/settings/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Настройки
                </div>
                </a>
            </div>
        }

        @@if (page == 'shop') {
       
            <div class="menu__item menu__item-ru-orders menu__item-selected" data-entity="orders">
                <a class="menu__item__link" href="#/orders/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Заказы
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-catalog menu__item-selected" data-entity="catalog">
                <a class="menu__item__link" href="#/catalog/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Товары
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-customers menu__item-selected" data-entity="customers">
                <a class="menu__item__link" href="#/customers/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Покупатели
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-affiliate menu__item-selected" data-entity="affiliate">
                <a class="menu__item__link" href="#/affiliate/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Партнерская программа
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-discounts menu__item-selected" data-entity="discounts">
                <a class="menu__item__link" href="#/discounts/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Скидочные купоны
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-exchange menu__item-selected" data-entity="exchange">
                <a class="menu__item__link" href="#/exchange/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Импорт/Экспорт
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-taxes menu__item-selected" data-entity="taxes">
                <a class="menu__item__link" href="#/taxes/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Налоги
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-settings menu__item-selected" data-entity="settings">
                <a class="menu__item__link" href="#/settings/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Настройки
                </div>
                </a>
            </div>

        }

        @@if (page == 'users') {

            <div class="menu__item menu__item-ru-list menu__item-selected" data-entity="list">
                <a class="menu__item__link" href="#/list/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Список
                </div>
                </a>
            </div>
            
            <div class="menu__item menu__item-ru-permissions menu__item-selected" data-entity="permissions">
                <a class="menu__item__link" href="#/permissions/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Разрешения
                </div>
                </a>
            </div>
            
            <div class="menu__item menu__item-ru-roles menu__item-selected" data-entity="roles">
                <a class="menu__item__link" href="#/roles/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Роли
                </div>
                </a>
            </div>

            <div class="menu__item menu__item-ru-settings menu__item-selected" data-entity="settings">
                <a class="menu__item__link" href="#/settings/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Настройки
                </div>
                </a>
            </div>

        }

        @@if (page == 'marketing') {
            
            <!-- ФайлыФайлы  TasksЗадачи  Shop-Script 7Магазин  MailerРассылки  HubХаб BlogБлог  СайтСайт  PhotosФото  HelpdeskПоддержка  ContactsКонтакты -->

            <div class="menu__item menu__item-ru-dashboard menu__item-selected" data-entity="dashboard">
                <a class="menu__item__link" href="#/dashboard/">
                <div class="menu__item__icon icon-dash">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                    <div class="nav__top__userpic__loader stopped">
                        <span class="spinner-icon"></span>
                    </div>
                </div>
                <div class="menu__item__title">
                    Рабочий стол
                </div>
                </a>
            </div>

            <div class="menu__item" data-entity="leads">
                <a class="menu__item__link" href="#/leads/">
                <div class="menu__item__icon icon-leads">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                </div>
                <div class="menu__item__title">
                    Сделки
                </div>
                </a>
            </div>
            <div class="menu__item" data-entity="contacts">
                <a class="menu__item__link" href="#/contacts/">
                <div class="menu__item__icon icon-contacts">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                </div>
                <div class="menu__item__title">
                    Контакты
                </div>
                </a>
            </div>
            <div class="menu__item" data-entity="mail">
                <a class="menu__item__link" href="#/mail/inbox/">
                <div class="menu__item__icon icon-mail3">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                </div>
                <div class="menu__item__title">
                    Почта
                </div>
                </a>
            </div>
            <div class="menu__item" data-entity="todo">
                <a class="menu__item__link" href="#/todo/">
                <div class="menu__item__icon icon-calendar2">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none">0</span>
                </div>
                <div class="menu__item__title">
                    Задачи
                </div>
                </a>
            </div>
            <div class="menu__item" data-entity="stats">
                <a class="menu__item__link" href="#/stats/">
                <div class="menu__item__icon icon-stats">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                </div>
                <div class="menu__item__title">
                    Аналитика
                </div>
                </a>
            </div>
            <div class="menu__item" data-entity="settings">
                <a class="menu__item__link" href="#/settings/pay/">
                <div class="menu__item__icon icon-settings">
                    <span class="js-notifications_counter nav__notifications__counter" style="display: none"></span>
                </div>
                <div class="menu__item__title">
                    Настройки
                </div>
                </a>
            </div>
            <div class="nav__top__userpic__loader stopped" style="display:none">
                <span class="spinner-icon"></span>
            </div>
        }
        </nav>

    </div>
</aside>