$select-color: #fff;
$select-background: #097dc5;

$placeholder-color: #000;
$placeholder-opacity: .5;

$body-background:               #F7F7F7 !default;
$color-text:                    #181818;
$font-family:                   'Open Sans', sans-serif;
$sidebar-width:                 80px;
$sidebar-padding:               0;

$c-box-background:              #fff;
$c-box-border-color:            #e5e5e5;
$c-box-text-color:              #555;

$c-white:                       #fff;
$c-black:                       #121212;
$c-light-text-color:            #aaa;
$c-light-border-color:          #DCD7D7;
$c-sidebar-color:               #1B3446;
$c-sidebar-color-dark:          #162b3a;
$c-sidebar-color-light:         #224357;
$c-auth-background:             #3f93e2;
$c-auth-header:                 #3f9322;
$c-yellow:                      #ffd530;
$c-royal-blue:                  #002366;
$c-royal-blue-light:            #4169E1;
$c-yellow-light:                #EFF8C7;
$c-form-field:                  #eee;

// $c-sidebar-color:               #ffd34a;
// $c-sidebar-color:               #ffe18f;
// $c-sidebar-color:               #4cb976;
// $c-sidebar-color:               #e0264a;

$c-button-default-color:        #fff;
$c-button-default-background:   #002366;

$c-button-primary-color:        #fff;
$c-button-primary-background:   #002366;



// hue, saturation, lightness

// $body-background-offset   : mix($lpblue, #fff, 5%) !default;
// $card-figure-bg           : #f4fbfe !default;
// $details-panel-bg         : mix($red, #fff, 15%) !default;
// $new-header-grey-shadow   : rgba(3, 46, 92, 0.12);
// $responsive-nav-bg        : mix($linkblue, #fff, 3%);
// $responsive-nav-subnav-bg : mix($linkblue, #fff, 6%);

// $highlight-error          : lighten($red, 25%) !default;
// $highlight-success        : lighten($green, 45%) !default;
// $highlight-warning        : lighten($yella, 20%) !default;
// $highlight-announcement   : mix($linkblue, #fff, 25%) !default;