.alert {
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, .05);
    color: $c-default-color;
    background-color: $c-default-background;
    @include variations();
}