.box {
    width: 100%;
    font-size: 1.4rem;
    padding: 20px;
    position: relative;
    color: $c-box-text-color-default;
    background-color: $c-box-background-default;
    box-shadow: $c-box-box-shadow-default;
    
    &:not(:last-child) {
        margin-bottom: 25px;
    }

    &__border {
        border-bottom: 1px solid $c-box-border-inner-default;
    }

    &_primary {
        color: $c-box-text-color-primary;
        border: 1px solid $c-box-border-color-primary;
        background-color: $c-box-background-primary;
    }

    &_secondary {
        color: $c-box-text-color-secondary;
        border: 1px solid $c-box-border-color-secondary;
        background-color: $c-box-background-secondary;
    }
}