.btn {
    @extend %button;
    height: 30px;
    font-size: 1.4rem;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(0, 0, 0, 0);
    @include elementShadow(-2);

    &:active {
        @include elementShadow(2);
    }
    
    &_wide {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    &_small {
        height: 20px;
        line-height: 20px;
    }

    &_medium {
        height: 40px;
        line-height: 40px;
    }

    &_large {
        height: 50px;
        font-size: 1.7rem;
        line-height: 50px;
    }
    
    &_link {
        color: $c-blue;

        &:hover {
            color: lighten($c-blue, $p-variations-percent);
        }
    }

    &_link, &_clear {
        &, &:hover, &:active {
            box-shadow: none;
        }
    }

    &_clear {
        width: 20px;
        height: 20px;
        color: #666;
        opacity: .45;
        padding: 0;
        line-height: 20px;
        transition: opacity $a-time;

        &:before {
            content: "\00d7";
            font-size: 2rem;
        }

        &:hover {
            opacity: 1;
        }
    }

    @include variations(true);
}