.btn {
    @extend %button;
    height: 30px;
    font-size: 1.4rem;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: $c-default-color;
    background-color: $c-default-background;
    @include elementShadow(2);

    &:active {
        box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
    }
    
    &_wide {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    &_small {
        height: 20px;
        line-height: 20px;
    }

    &_medium {
        height: 40px;
        line-height: 40px;
    }

    &_large {
        height: 50px;
        font-size: 1.7rem;
        line-height: 50px;
    }

    @include variations();
}