// input[type="radio"]:checked, input[type="checkbox"]:checked, input[type=checkbox]:indeterminate {
//     border-color: rgba(0, 0, 0, 0);
//     background: #3DC372;
// }

// input[type="checkbox"]:not(:disabled), input[type="radio"]:not(:disabled) {
//     cursor: pointer;
// }

// input[type="radio"] {
//     border-radius: 50%;
// }
// input[type="radio"], input[type="checkbox"] {
//     display: inline-block;
//     height: 16px;
//     width: 16px;
//     border: 1px solid #D5D5D5;
//     overflow: hidden;
//     margin-top: -4px;
//     vertical-align: middle;
//     -webkit-appearance: none;
//     outline: 0;
//     background: #fff;
// }

// input[type="checkbox"], input[type="radio"] {
//     padding: 0;
// }
// input, select, textarea {
//     box-sizing: border-box;
//     margin: 0;
//     border-radius: 0;
//     font: inherit;
//     color: inherit;
// }

// input[type="radio"] {
//     -webkit-appearance: radio;
//     box-sizing: border-box;
// }

// input[type="radio"], input[type="checkbox"] {
//     background-color: initial;
//     margin: 3px 0.5ex;
//     padding: initial;
//     border: initial;
// }

// input {
//     -webkit-appearance: textfield;
//     background-color: white;
//     border-image-source: initial;
//     border-image-slice: initial;
//     border-image-width: initial;
//     border-image-outset: initial;
//     border-image-repeat: initial;
//     -webkit-rtl-ordering: logical;
//     -webkit-user-select: text;
//     cursor: auto;
//     padding: 1px;
//     border-width: 2px;
//     border-style: inset;
//     border-color: initial;
// }

// input, textarea, keygen, select, button {
//     text-rendering: auto;
//     color: initial;
//     letter-spacing: normal;
//     word-spacing: normal;
//     text-transform: none;
//     text-indent: 0px;
//     text-shadow: none;
//     display: inline-block;
//     text-align: start;
//     margin: 0em 0em 0em 0em;
//     font: 11px BlinkMacSystemFont;
// }

// input, textarea, keygen, select, button, meter, progress {
//     -webkit-writing-mode: horizontal-tb;
// }

$radio-size: 18px;
$checkbox-size: 18px;
$control-color: #d0d0d0;
$control-color-active: #557DE2;

.control {
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &_radio {
        min-width: $radio-size;
        min-height: $radio-size;
    }

    &_checkbox {
        min-width: $checkbox-size;
        min-height: $checkbox-size;
    }

    &__input {
        width: 0;
        height: 0 !important;
        left: 0 !important;
        top: 0;
        opacity: 0;
        position: absolute;
    }

    &__label {
        color: #000;
        color: #666;
        font-weight: 400;
        font-size: 1.4rem;
        font-weight: 400;
        margin-left: 10px;
        user-select: none;
        display: inline-block;
        vertical-align: top;
        line-height: 1.8rem;
        
        &__middle {
            line-height: 1;
        }
    }

    &__visible {
        position: relative;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        background-color: #fff;
        user-select: none;
        border: 1px solid $control-color;
        box-sizing: border-box;
    
        &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            content: "";
            display: none;
            border: 1px solid #fff;
            box-sizing: border-box;
        }

        &_radio {
            width: $radio-size;
            height: $radio-size;
            border-radius: 50%;

            &:before {
                width: 10px;
                height: 10px;
                margin-left: -5px;
                margin-top: -5px;
                background-color: #fff;
                border-radius: 50%;
            }
        }

        &_checkbox {
            width: $checkbox-size;
            height: $checkbox-size;

            &:before {
                width: 10px;
                height: 5px;
                margin-left: -4px;
                margin-top: -4px;
                border-width: 0 0 1px 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
                border-image: none;
                transform: rotate(-45deg);
            }
        }
    }

    &__input:checked + &__visible:before {
        display: block;
    }

    &__input:checked + &__visible {
        border-color: $control-color-active;
        background-color: $control-color-active;
    }
}