input,
textarea {
    width: 100%;
    color: #000;
    font-family: $font-family;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid $c-form-field;
    user-select: text;
    cursor: auto;
    box-shadow: inset 0 0 0 50px #fff !important;
    
    &:-webkit-autofill {
        color: #000 !important;
        -webkit-text-fill-color: #000 !important;
    }

    &::placeholder {
        text-overflow: ellipsis;
        color: $placeholder-color;
        opacity: $placeholder-opacity;
        transition: opacity $a-time ease;
    }

    &:focus::placeholder {
        color: transparent;
        opacity: 0;
    }

    &:read-only,
    &:disabled {
        opacity: 0.4;
        cursor: default;
    }

    &:focus {
        outline: 0;
    }

    &::-ms-clear {
        display: none;
    }

    &.error {
        background: rgba(255, 0, 0, 0.1);
        border-color: rgb(255, 0, 0);
        border-color: rgba(255, 0, 0, 0.5);
    }
}

input, button, select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

label {
    cursor: pointer;
}

input {
    height: 38px;
    padding: 0 10px;
}

textarea {
    padding: 5px 10px;
    max-width: 100%;
    resize: vertical;
}

.form {
    &__row {
        clear: both;
        
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__label {
        clear: both;
        display: block;
        position: relative;

        &__name {
            color: #fff;
            display: block;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.01ex;
            margin-bottom: 5px;
        }
    }
}