.label {
    display: inline-block;
    padding: 4px 7px 5px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    color: $c-default-color;
    background-color: $c-default-background;
    @include elementShadow(1);
    @include variations();
}