.logo {
    width: 80px;
    height: 80px;
    display: block;
    font-size: 0;
    line-height: 80px;
    text-align: center;

    &__image {
        max-height: 46px;
        max-width: 46px;
        display: inline-block;
        vertical-align: middle;
    }
}