.nav {
    clear: both;
    font-size: 0;

    &__item {
        line-height: 60px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 2px;

        &__link {
            color: $c-white;
            display: block;
            padding: 0 20px;
            font-size: 1.4rem;

            &_current {
                color: $c-yellow-light;
                text-decoration: none;
            }
        }
    }
}