.nav {
    clear: both;
    font-size: 0;

    &__item {
        line-height: 60px;
        display: inline-block;
        vertical-align: middle;
        
        &:not(:last-child) {
            margin-right: 25px;
        }

        &__link {
            color: $c-white;
            display: block;
            font-size: 1.4rem;

            &_current {
                color: $c-yellow-light;
                text-decoration: none;
            }
        }
    }
}