.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 1.5rem;
    font-weight: 300;

    th {
        font-weight: 700;
    }
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;

    &.sort-header {
        cursor: default;
        user-select: none;
        
        &.sort-down {
            border: 1px solid lime;
        }

        &.sort-up {
            border: 1px solid red;
        }
    }
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

th {
    text-align: left;
}