.tab {
    display: flex;
    border-bottom: 1px solid #c5c5c5;
    
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.tab-item {
    margin-bottom: -1px;
    margin-top: 0;
    position: relative;

    &._block {
        flex: 1 0 auto;
        text-align: center;
    }

    &__link {
        border-bottom: 2px solid transparent;
        color: #333;
        display: block;
        padding: 0 15px 5px;
        text-decoration: none;

        &:hover,
        &:focus {
            border-bottom-color: #5764c6;
            color: #5764c6;
        }

        &._active {
            color: #3b49af;
            border-bottom-color: #3b49af;
        }
    }

    &__badge {
        position: absolute;
        right: 9px;
        top: 9px;
        transform: translate(50%, -8px);
    }
}