::selection {
	color: $select-color;
	background-color: $select-background;
	text-shadow: none;
}

svg {
	shape-rendering: optimizeSpeed;
}

@mixin variations() {
    &_default {
        color: $c-default-color;
        background-color: $c-default-background;
    }

    &_primary {
        color: $c-primary-color;
        background-color: $c-primary-background;
    }

    &_success {
        color: $c-success-color;
        background-color: $c-success-background;
    }

    &_info {
        color: $c-info-color;
        background-color: $c-info-background;
    }

    &_warning {
        color: $c-warning-color;
        background-color: $c-warning-background;
    }

    &_danger {
        color: $c-danger-color;
        background-color: $c-danger-background;
    }
}

%button {
	margin: 0;
	border: none;
	overflow: visible;
	font: inherit;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
	cursor: pointer;
	user-select: none;
	-webkit-appearance: none;
	border-color: rgba(0, 0, 0, 0);
    transition: border-color $a-time ease, background-color $a-time ease, color $a-time ease;
    
    &:focus {
        outline: 0;
    }
}

%clearfix {
	zoom: 1;

	&:after {
		clear: both;
		content: '';
		line-height: 0;
		display: table;
	}
}

.clearfix {
	@extend %clearfix;
}

.image {
	font: 0/0 a;
	border: 0;
}

.is-hidden {
	display: none;
}

.is-show {
	display: block;
}

.center {
	text-align: center;
}

.vmcenter {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

a:focus {
	outline: 0;
}