@@include('./components/meta.html', {
    "title": "F\"CMS"
})

<div class="layout-wrapper">

    <form action="" class="form login" method="POST">
        <header class="login__header">
            <div class="login__header__logo"></div>
            <div class="login__header__title">
                АВТОРИЗАЦИЯ
            </div>
        </header>

        <div class="login__body">
            <div class="login__row">
                <label class="form__label">
                    <span class="form__label__name">Логин</span>
                    <input name="login">
                </label>
            </div>

            <div class="login__row">
                <label class="form__label">
                    <span class="form__label__name">Пароль</span>
                    <span class="login__password">
                        <span class="login__password__toggle"></span>
                        <input type="password" name="password" autocomplete="off">
                    </span>
                </label>
            </div>
            
            <div class="login__row clearfix">
                <div class="login__col">
                    <a href="" class="login__forgot-link">Забыли пароль?</a>
                </div>

                <div class="login__col">
                    @@include('./components/checkbox.html', {
                        "name": "save_me",
                        "value": "1",
                        "title": "Запомнить меня"
                    })
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn_block btn_large">Войти</button>
    </form>
    
    <!-- ВОССТАНОВИТЬ ПАРОЛЬ -->
</div>

@@include('./components/scripts.html')