@@include('./components/meta.html', {
	"title": "F\"CMS"
})

@@include('./popups/popup.html')

@@include('./components/sidebar.html', {
    "page": "site"
})

<div class="layout-wrapper">
    <div class="layout-content">
    	@@include('./components/header.html', {
    		"current": "site"
    	})
	
        <div class="layout-content__wrapper">
            
            <div class="box">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit in libero vitae error, dolore autem voluptates sint nam, unde ducimus animi voluptatum dignissimos quae! Odit, iure. Officiis, maxime pariatur quae.
            </div>

        </div>
    </div>

</div>

@@include('./components/scripts.html')