@@include('../components/meta.html', {
    "title": "F\"CMS"
})

@@include('../popups/popup.html')

@@include('../components/sidebar.html', {
    "page": "site"
})

<div class="layout-wrapper">
    <div class="layout-content">
        @@include('../components/header.html', {
            "current": "site"
        })
    
        <div class="layout-content__wrapper">
            
            <label class="input-placeholder">
                <input class="input-placeholder__text" placeholder="Your Name" name="name" value="xxx">
            </label>

            <label class="input-placeholder">
                <input class="input-placeholder__text" placeholder="Длинный плейсхолдер" name="asd">
            </label>

            <label class="input-placeholder">
                <input class="input-placeholder__text" placeholder="Длинный плейсхолдер" data-label="Длинный label" name="dfs">
            </label>

            <div class="box">
                
                <div class="ui-switch ui-switch-normal ui-switch-on" data-data="">
                    <input class="ui-switch-enable" type="button" value="Включить"><input class="ui-switch-disable" type="button" value="Выключить"><input class="ui-switch-enabling" type="button" value="Включается..." disabled="true"><input class="ui-switch-disabling" type="button" value="Выключается..." disabled="true">
                    <div class="ui-switch-box">
                        <div class="ui-switch-button">
                            <div class="ui-switch-value ui-switch-status-process-on">
                                <span class="ui-switch-status">Включено</span><span class="ui-switch-status-process">Включаю</span>
                            </div>
                            <div class="ui-switch-statys">
                                <div>
                                    <i></i>
                                </div>
                            </div>
                            <div class="ui-switch-value ui-switch-status-process-off">
                                <span class="ui-switch-status">Выключено</span><span class="ui-switch-status-process">Выключаю</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                <input type="text" placeholder="" class="form__input">
                <input type="text" required class="form__input">
                <input type="text" disabled class="form__input">
                <input type="text" readonly class="form__input">
                <input type="text" tabindex="" class="form__input">
                <input type="button" class="form__input">
                <input type="checkbox" class="form__input">
                <input type="file" class="form__input">
                <input type="image" class="form__input">
                <input type="password" class="form__input">
                <input type="radio" class="form__input">
                <input type="reset" class="form__input">
                <input type="text" class="form__input">
            
                <input type="range" min="0" max="10" step="2">
                <input type="number" value="0" min="0" max="1" step="0.1">

                <input type="color" class="form__input">
                <input type="date" class="form__input">
                <input type="datetime" class="form__input">
                <input type="datetime-local" class="form__input">
                <input type="email" class="form__input">
                <input type="number" class="form__input">
                <input type="range" class="form__input">
                <input type="search" class="form__input">
                <input type="tel" class="form__input">
                <input type="time" class="form__input">
                <input type="url" class="form__input">
                <input type="month" class="form__input">
                <input type="week" class="form__input">
                -->
            </div>
            
            @@include('../components/dropzone.html', {
                "type": "collection",
                "title": "Выбрать изображение"
            })
            
            @@include('../components/dropzone.html', {
                "title": "Выбрать изображение"
            })

        </div>
    </div>

</div>

@@include('../components/scripts.html')