@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        font-weight: $weight;
        font-style: $style;
        font-display: swap;

        src: url($file-name + '.eot');
        src: local('#{$font-name}'),
             url($file-name + '.eot?#iefix') format('embedded-opentype'),
             url($file-name + '.woff2') format('woff2'),
             url($file-name + '.woff') format('woff'),
             url($file-name + '.ttf') format('truetype'),
             url($file-name + '.svg##{$font-name}') format('svg');
    }

    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: $font-name;
            src: url('#{$file-name}.svg##{$font-name}') format('svg');
        }
    }
}

//@include font-face('Gotham Pro', '../fonts/Gotham-webfont', 400, italic);